<a href="#movies">Go Back</a>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add Movie</h3>
  </div>
  <div class="panel-body">
    <div class="row col-md-12">
    	 <form ng-submit="addMovie()">
          <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" placeholder="Title" ng-model="movie.title">
          </div>
          <div class="form-group">
            <label>Genre</label>
            <select name="genre" class="form-control" ng-model="movie.genre">
              <option value="Drama">Drama</option>
              <option value="Thriller">Thriller</option>
              <option value="Sport">Sport</option>
            </select>
          </div>
          <div class="form-group">
            <label>Director</label>
            <input type="text" class="form-control" name="director" placeholder="Director" ng-model="movie.director">
          </div>
          <div class="form-group">
            <label>Image URL</label>
            <input type="text" class="form-control" name="image_url" placeholder="Image URL" ng-model="movie.image_url">
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" ng-model='movie.description' placeholder="Description"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
  </div>
</div>