<div class="panel panel-default" ng-init="getMovies()">
  <div class="panel-heading">
    <h3 class="panel-title">Latest Movies</h3>
  </div>
  <div class="panel-body">
    <div class="row">
    	<div ng-repeat="movie in movies">
    		<div class="col-md-4">
    			<div class="col-md-6">
    				{{movie.title}}
    				<p>{{movie.description}}</p>
    				<a class="btn btn-primary" href="#movies/details/{{movie._id}}">View Detail</a>
    			</div>
    			<div class="col-md-6">
    				<img class="thumbnail" src="{{movie.image_url}}">
    			</div>
    		</div>
    	</div>
    </div>
  </div>
</div>